/* status bar */
.status-bar-container {
  width:92%;
  display:flex;
  flex-direction: row;
  border-top:2px solid var(--verde-claro1);
  margin:0 auto;
  justify-content: space-between;
  align-items: space-between;
  padding: 12px 0px;
  margin-top:12px;
  font-size: .9rem;
  height:100%;
}
.status-bar-text {
  margin:0px 10px;
}

.status-bar-text1 {
  align-self: flex-start;
  justify-self: flex-start;
}
.status-bar-text1 {
  align-self: center;
  justify-self: center;
}

.status-bar-text3 {
  align-self: flex-end;
  justify-self: flex-end;
}