.btn-grande {
  border:none;
  font-size:1.8rem;
  border-radius: 16px;
  padding: 12px 60px;
  font-weight: bold;
}

.verde-claro {
  background: var(--verde-claro1);
  color:#fff;
}

.text-align {
  text-align: center;
}