.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  height: 100%;
}

.texto-box-shadow-civica{
  font-size: 2.2rem;
  line-height:1;
}

.margin-top-50 {
  margin-top:65px;
}

.mt-30 {
  margin-top:8px;
}


.mb-30 {
  margin-bottom:30px;
}