.paso2-container {
  width:96%;
  height: 100%;
  margin-left:100px;
  margin-top:20px;

}

.datos-container {
  display: flex;
  flex-direction: row;
}



.container-info-transaccion {
  display: flex;
  margin-top:85px;
  justify-content: space-evenly;
  position: relative;
  left:-60px;
}

.container-info-transaccion  img {
  width:92px;
}

.envases-container {
 
}
.money-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.money-container img {
  width:80px;
}

.container-info-transaccion .tipo-valor {
  text-align:center;
  font-size:1.2rem;
}

.container-estado-transaccion {
  width:100%;
}

.container-estado-transaccion .textos-progressbar {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  color:var(--gris-80);
  font-size: 1.1rem;
  position: relative;
  left:-84px;
  bottom:-13px;
  margin-top:-18px;
}



.container-estado-transaccion .textos-progressbar  .numero-envases {
  font-size: 1.6rem;
}

.container-estado-transaccion .textos-progressbar  .texto-envases-maximo {
  position: relative;
  left:-60px;
  bottom: -8px;
}


.center {
  display: flex;
  justify-content: center;
  position: relative;
  left:-130px;
}