.container-sidebar-banner {
  background: #fff;
  box-shadow:6px 8px 9px rgba(0,0,0,0.22);
  border-radius: 39px;
  margin:20px 22px;
  padding: 20px 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:80%;
  height:84vh;
}

.img-logos-aliados {
  margin:22px;
}

.logo-postobon {
  width:150px;

}

.logo-metro {
  width:90px;

}

.logo-ciclo {
  width:190px;

}