.paso3-container {
  width:96%;
  height: 100%;
  margin-left:100px;
  margin-top:20px;

}

.row-container {
  display: flex;
  flex-direction: column;
}


.saldos-container {
  margin-left: 60px;
  display: flex;
  text-align: center;
}

.titulo-estado {
  margin-top:50px;
  margin-right:20px;
  font-size:2.1rem;
  color:var(--gris-80);
}

.container-info-final-transaccion {
  margin-left:80px;
  margin-top:-10px;
}

.envases-latas-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-envases-latas  {
  display: flex;
}

.envases-latas-container .pet , .envases-latas-container  .latas {
  width:105px;
}


.saldo-final-container {
  margin-top:30px;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saldo-final-container .money-img {
  width:84px;
}

