:root {
  --verde-claro1: #D3D622;
  --verde-claro2: #8DBA38;
  --verde-oscuro:hsl(85, 40%, 33%); 
  --gris-30:#C2C3C9;
  --gris-80:#5B5B5F;
  --negro:#211915;
  --texto-grande:5.4rem;
}


body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Gilroy !important;
  color:#000 !important;
  overflow: hidden;
}



@font-face {
  font-family: Gilroy;
  src: url('./assets/fonts/Gilroy-Light.otf'),
  url('./assets/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: Gilroy;
  src:url('./assets/fonts/Gilroy-ExtraBold.otf');
  font-weight: bold;
}



.bold-text {
  font-weight: bold;
} 




.valor-red {
  color:red;
}

.valor-green {
  color:var(--verde-claro2);
}